<%= currentCat.name %>

    <% if (currentCat.media) {%>
        <% currentCat.media.forEach(function(catMedia) { %>
            <div>
                <%= catMedia.mediaName %>
            </div>
            <% })%>
                <% }%>